aside.cart-info {
	border: none;
	border-left: 1px solid #ccc;
	padding: 0 1rem;
	width: 220px;

}

.cart-header {
	border-bottom: 1px solid #ccc;
	height: fit-content;
	width: 100%;
	white-space: nowrap;
	padding: 0 .2rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	
	&:has(input[type="radio"]:checked) h3::before {
		transform: rotate(135deg);
	}

	h3 {
		position: relative;
		padding-left: 1.5rem;

		&::before { // szczałka
			content: '';
			position: absolute;
			top: .5rem;
			left: 0;
			width: .5rem;
			height: .5rem;
			border: #333 solid;
			border-width: 0 0 2px 2px;
			transform: rotate(-45deg);
			transition: all .2s ease-in-out;
		}
	}

	input[type="radio"] {
		display: none;
	}
}