.login-form {
	width: 100%;
	max-width: 12rem;

	label {
		font-size: .8rem;
		color: #333;
		margin-top: .8rem;
	}

	label:hover {cursor: auto !important;}

	input[type="submit"] {
		margin-top: .8rem;
		width: fit-content;
		word-wrap: nowrap;
		font-size: .9rem;
		color: #333;
		padding: .2rem 1rem;
		cursor: pointer;
		background-color: #eee;
	}
	
}