.icon {
	height: 1.5rem;
}

.shopping-bag-icon {
	position: relative;
	display: inline-block; 
	user-select: none;

	&::after {
		content: attr(data-count); 
		position: absolute;
		bottom: -0.35rem;
		right: -0.35rem;
		width: 1rem;
		height: 1rem;
		background-color: #fff;
		border: 2px solid black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.65rem;
		font-weight: 600;
		padding: 9px;
		color: #000;
	}

	.icon {
		scale: 1.1;
	}
}

.remove-icon {
	background: url('/assets/site-images/remove-icon.svg') transparent;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	color: #bb6b6b;
	cursor: pointer;

	&::after {
		color: #bb6b6b;
		content: 'Usuń';
		font-size: .9rem;
		padding-left: 1.2rem;
		position: relative;
		top: .05rem;
	}

	&::before {
		background: #bb6b6b !important;
		width: 3rem !important;
		right: -0.1rem !important;
	}
}

.arrow-right-icon {
	height: 1.3rem;
	width: 1.3rem;
	position: absolute;
	right: .2rem;
	top: 50%;
	transform: translateY(-50%);
	border: none !important;
	background: url(/assets/site-images/arrow-right.svg) #fff;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

h2 {
	text-align: center;
	margin: 2rem 0;
}

.arrow {
	width: 0;
	height: 0;
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #333;
	opacity: .5;

	&.down {
		transform: rotate(180deg);
	}
}

.arrow-container {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.help {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: .9rem;
	width: .9rem;
	font-size: .7rem;
	background: #fff;
	color: #333;
	border: 1px solid #333;
	border-radius: 50%;
	user-select: none;
	cursor: pointer;
}

.see-more {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0 4rem;
	font-size: 1.3rem;
	background: linear-gradient(to right, transparent 0%, #fff 30%);
}

.error-chmurka {
	text-align: center;
	background: #bb6b6b;
	color: #fff;
	padding: .3rem .6rem;
	width: 450px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -300px);
	animation: fadeOut 3s;
	opacity: 0;
	pointer-events: none;
}

.styled-radio,
.styled-checkbox {
	label {
		position: relative;
		padding-left: 1.25rem;

		&::before {
			content: '';
			position: absolute;
			top: .3rem;
			left: 0;
			width: .5rem;
			height: .5rem;
			outline: 1px solid #777;
			outline-offset: 2px;
			transition: all .1s ease-in-out;
		}
	}

	input[type="radio"],
	input[type="checkbox"] {
		display: none;

		&:checked + label::before {
			background-color: #333;
			outline-color: #333;
		}
	}

	&:hover label::before {
		background: #ccc;
	}
}
	.styled-radio label::before {border-radius: 50%;}

@keyframes fadeOut {
	0% {opacity: 100%;}
	50% {opacity: 100%;}
	100% {opacity: 0;}
}

// Media query
@media (max-width: 1250px) {
	body {
		padding: 2rem;
	} 

	#home-info-container,
	header,
	footer {
		flex-direction: column !important;
		border-bottom: none !important;
	} 

		header img{
			margin-bottom: 1rem;
		}

		footer .flex-container {
			gap: 1rem;
			padding: 0 !important;
			justify-content: center !important;

			img[src="assets/site-images/parasolove-logo.png"] {
				padding: 1rem;
				margin: 0 auto;
			}

			ul {
				width: 100%;
			}

			p {
				text-align: center;
			}
		}

		#home-info-container {
			align-items: center;

			.card {
				width: 100%;
				img {
					max-width: 300px;
					margin: 0 auto 1rem;
				}
			}
		}

	.flex-container:has(.see-more) {
		flex-direction: column;
		align-items: center;
	}

	.see-more {
		position: absolute;
		top: 100%;
		transform: translateY(-100%);
		text-align: center;
		background: linear-gradient(to bottom, transparent 0%, #fff 30%);
		height: fit-content;
		width: 100%;
		padding: 4rem;
		padding-top: 8rem;

		a {
			// padding-top: 5rem;
			width: 100%;
			border: 1px solid #ccc;
			padding: .5rem;
		}
	}

	nav ul {
		flex-wrap: wrap;
	}

	.breadcrumb-bar {
		display: none;
	}

	.mobile-description {
		margin: 0 !important;
		align-items: center;

		h2 {
			margin: 0 !important;
		}

		.flex-container {
			justify-content: center;
		}
	}

	.product-img {
		margin-top: 2rem;
	}

	.shopping-bag-icon {
		margin-bottom: 1rem;

		.icon {
			scale: 1.2;
			position: relative;
			bottom: -.75rem;
		}
	}
}

@media (max-width: 600px) {
	img[src="assets/site-images/parasolove-logo.png"] {
		object-fit: contain;
		scale: 2;
		width: fit-content;
	}

	header {
		margin-bottom: 1rem !important;
		padding: 0 !important;

		.block {
			flex-direction: column !important;

			a:not([href="/koszyk"]) {
				width: 100%;
				text-align: center;
			}

			&:has(img[src="assets/site-images/parasolove-logo.png"]) {
				padding: 0 2rem;
				max-width: 200px;
				min-width: 150px;
			}

			.shopping-bag-icon {
				margin-bottom: 1rem;

				&::after {
					font-size: .75rem;
					padding: 11px;
					right: -.55rem;
				}

				.icon {
					scale: 1.5;
					position: relative;
					bottom: -.75rem;
				}
			}
		}
	}

	nav,
	.breadcrumb-bar {
		display: none !important;
	}

	.page-container {
		.flex-container:has(aside.filters) {
			flex-direction: column;
			align-items: center;

			aside.filters {
				border: none;
				width: 100%;
				padding: 0;
			}
		}

		#pagination-container {
			flex-wrap: wrap;

			a:first-child,
			a:last-child {
				width: 100%;
				text-align: center;
			}

			a:first-child::after {content: ' poprzednia strona';}
			a:last-child::before {content: 'następna strona ';}
		}
	}

	.mobile-catalog {
		justify-content: space-around;
	}

	p.recommended {
		text-align: center;
	}

	.mobile-aside-catalog-gap {
		gap: 1.5rem !important;
	}

	.mobile-page-info {
		flex-direction: column !important;
		align-items: start !important;
		gap: .4rem !important;
	}

	.flex-container:has(.mobile-catalog-link) {
		gap: 1.5rem;
		
		.mobile-catalog-link {
			display: block !important;
			font-size: 1.2rem;
			margin: 0 auto;
			padding: .5rem 1rem;
			white-space: nowrap;
			background: #fcfcfc;
		}
	}

	.infoPopup {
		--distance: 0!important;
		width: 100% !important;
		max-width: 100% !important;
	}

	.mobile-cart {
		flex-direction: column-reverse !important;
		
		aside.cart-info {
			border: none !important;
			padding: 0;

			.mobile-header {
				display: block !important;
				text-align: start;
			}
		}

		.cart-product {
			flex-direction: column !important;
			max-height: 100% !important;

			.mobile-price {
				width: 100% !important;

				> .flex-container {
					flex-direction: row;
				}
			}
		}

		.mobile-justify-center {
			flex-direction: column !important;
			align-items: center !important;
		}
	}
}